.search {
	display: flex;
	flex-direction: column;
	background-color: white;
	position: absolute;
	top: 34px;
	left: 400px;
	width: 40%;
}

.search__guests {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.search > input {
	border: none;
	outline: none;
	padding: 10px;
}
.search > input::-webkit-outer-spin-button,
.search > input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.search > button {
	background-color: #f26764 !important;
	border-radius: 5px !important;
	color: white !important;
	text-transform: inherit !important;
}
.search > button:hover {
	background-color: white !important;
	color: #f26764 !important;
	border: 1px solid #f26764 !important;
	font-weight: bolder;
}
